@import '../variable.less';

.bar-item {
  &.bar-item-dropdown,
  &.bar-item-select {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 12px;

    transition: background-color 0.3s;

    .bar-icon {
      margin-right: 5px;
    }

    &:hover {
      background-color: @gray1;
      transition: background-color 0.3s;
    }
  }

  &.bar-item-tabbar {
    font-size: @text-normal;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .bar-icon {
      margin-bottom: 4px;
    }
    &.active {
      color: @primary-color;
    }
  }
}
