@import '../../variable.less';

.bar-header {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 46px;
  margin-bottom: 1.2rem;
  box-shadow: @shadow-1-heavy;

  background-color: @primary-color;

  color: @white;
  font-weight: bold;
  text-align: center;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: @text-normal;
    font-weight: normal;
    height: 20px;
    min-width: 50px;
  }

  &__left {
    margin-left: 1rem;
  }

  &__right {
    margin-right: 1rem;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header__sub-title {
      font-size: @text-xs;
      font-weight: normal;
    }
  }
}
